{{ $length := len .Contacts }}
<form action="/contacts" method="get" class="tool-bar">
  <label for="search">Search Term</label>
  <input
    id="search"
    type="search"
    name="q"
    value="{{ .Query }}"
    hx-get="/contacts"
    hx-trigger="search, keyup delay:200ms changed"
    hx-target="tbody"
    hx-select="tbody tr"
    hx-push-url="true"
    hx-indicator="#spinner"
  />
  <img
    style="height: 20px"
    id="spinner"
    class="htmx-indicator"
    src="/static/spinning-circles.svg"
  />
  <input type="submit" value="Search" />
</form>

{{if .Contacts}}
<h3>Contacts</h3>
<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{ range .Contacts}} {{ template "contact" .}} {{end}} {{ if and (eq $length
    .PageSize) (gt .Max $length) }}
    <tr>
      <td colspan="5" style="text-align: center">
        <button
          hx-target="closest tr"
          hx-swap="outerHTML"
          hx-select="tbody > tr"
          hx-get="/contacts?page={{ .Next }}"
        >
          Load More
        </button>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{end}}
<div>
  {{ if gt .Page 1 }}
  <a href="/contacts?page={{ .Prev }}">Previous</a>
  {{ end }} {{ if and (eq $length .PageSize) (gt .Max $length) }}
  <a href="/contacts?page={{ .Next }}">Next</a> {{ end }}
</div>

<p>
  <a href="/contacts/new">Add Contact</a>
</p>
