<form action="/contacts" method="get" class="tool-bar">
  <label for="search">Search Term</label>
  <input id="search" type="search" name="q" value="{{.Query}}" />
  <input type="submit" value="Search" />
</form>

{{if .Contacts}}
<h3>Contacts</h3>
<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{ range .Contacts}} {{ template "contact" .}} {{end}}
  </tbody>
</table>
{{end}} {{ $length := len .Contacts }}
<div>
  {{ if gt .Page 1 }}
  <a href="/contacts?page={{ .Prev }}">Previous</a>
  {{ end }} {{ if and (eq $length .PageSize) (gt .Max $length) }}
  <a href="/contacts?page={{ .Next }}">Next</a> {{ end }}
</div>

<p>
  <a href="/contacts/new">Add Contact</a>
</p>
